#header {
    background-color:#2196f3;
    background-repeat: no repeat;
    background-position: center;
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
